notebook/

evaluation/tools/FAHES/source
evaluation/tools/raha/source
evaluation/tools/raha/output/movies_1/error-detection
evaluation/tools/SURAGH/source
evaluation/tools/SynODC/source

backend/app.log
backend/data
backend/__pycache__
backend/services/__pycache__
backend/utils/__pycache__
backend/app.log
backend/user_settings 

